// UCF File 
// This file has been exported in UTF-8 format.If you modify this file
// it should be modified with a UTF-8 compliant editor.

// General 1145 Settings File
// Print and Copy Enabled
// Tray 1 as Legal
// Tray 2 as Letter and Default for functions

// Settings specific to printer
nvContactLocation "XXX Public Printer"
nvContactName "Ryan Eby"
mfp.email.subject "Scan from XXX"

// Settings specific to network/us
IPDHCPENABLE TRUE
IPDNSSERVERADDR "192.168.100.1"
IPDNSSERVERADDR2 "192.168.100.22"
IPDNSSERVERADDR3 "0.0.0.0"
IPDNSSERVERADDR4 "0.0.0.0"
IPDOMAIN "aadl.org"
IPWINSADDR "192.168.100.111"
mfp.email.primarySMTPPort "25"
mfp.email.primarySMTPServer "192.168.100.22"
mfp.email.replyAddress "donotreply@aadl.org"
NTPTIMESERVERADDR "time.aadl.org"
NTPTIMESERVERNAME "time.aadl.org"
timemgr.ntpserver "time.aadl.org"

// Rest
alarm.alarmControl "0"
alarm.toner "0"
ALLOW_DHCP_TO_UPDATE_TIMESERVER TRUE
ATACTIVE TRUE
ATDATAMODE 0 0
ATPOSTFIX 0 ""
ATPREFIX 0 ""
ATTYPE 0 "LaserWriter"
ATZONE 0 "*"
bestSpeed "0"
brightness "0"
cardstock.loading "0"
cardstock.texture "1"
cardstock.weight "1"
ChgPromptSourceAction "1"
colorCorrection "7"
colorPaper.loading "0"
colorPaper.texture "1"
colorPaper.weight "1"
confidentialJobExpire "0"
contrast "0"
customType1.loading "0"
customType1.name ""
customType1.texture "1"
customType1.type "0"
customType1.weight "1"
customType2.loading "0"
customType2.name ""
customType2.texture "1"
customType2.type "0"
customType2.weight "1"
customType3.loading "0"
customType3.name ""
customType3.texture "1"
customType3.type "0"
customType3.weight "1"
customType4.loading "0"
customType4.name ""
customType4.texture "1"
customType4.type "0"
customType4.weight "1"
customType5.loading "0"
customType5.name ""
customType5.texture "1"
customType5.type "0"
customType5.weight "1"
customType6.loading "0"
customType6.name ""
customType6.texture "1"
customType6.type "0"
customType6.weight "1"
DDNS_REFRESH_TIME_SECONDS 604800
DDNSENABLE TRUE
DEFAULT_ADF_MEDIA_TYPE "0"
diskWipeAutomaticStyle "0"
DNS_LEASE_TIME_SECONDS 3600
DOMAINSEARCH ""
EJMODE1_LINKMON FALSE
EJMODE2_OPT_TAG_60 FALSE
emailAlerts.alertflag1.2xxpaperjam "true"
emailAlerts.alertflag1.calibrationerror "true"
emailAlerts.alertflag1.changecartridge "true"
emailAlerts.alertflag1.changemedia "true"
emailAlerts.alertflag1.defectivecartridge "true"
emailAlerts.alertflag1.fuserlifewarning "true"
emailAlerts.alertflag1.fusermissing "true"
emailAlerts.alertflag1.insertpcunit "true"
emailAlerts.alertflag1.invalidcartridge "true"
emailAlerts.alertflag1.loadmanualrequests "true"
emailAlerts.alertflag1.loadmedia "true"
emailAlerts.alertflag1.loadstaples "true"
emailAlerts.alertflag1.ocrlifewarning "true"
emailAlerts.alertflag1.ocrmissing "true"
emailAlerts.alertflag1.outputbinfull "true"
emailAlerts.alertflag1.pcunitabnormal "true"
emailAlerts.alertflag1.pcunitlifewarning "true"
emailAlerts.alertflag1.pcunitmissing "true"
emailAlerts.alertflag1.photodevabnormal "true"
emailAlerts.alertflag1.photodevlifewarning "true"
emailAlerts.alertflag1.photodevmissing "true"
emailAlerts.alertflag1.punchboxfull "true"
emailAlerts.alertflag1.punchboxmissing "true"
emailAlerts.alertflag1.replacefuser "true"
emailAlerts.alertflag1.replaceocr "true"
emailAlerts.alertflag1.replacepcunit "true"
emailAlerts.alertflag1.replacephotodev "true"
emailAlerts.alertflag1.replacetoner "true"
emailAlerts.alertflag1.replacetransferbelt "true"
emailAlerts.alertflag1.replacewastetoner "true"
emailAlerts.alertflag1.scannerjam "true"
emailAlerts.alertflag1.scheduledmaintenance "true"
emailAlerts.alertflag1.staplejam "true"
emailAlerts.alertflag1.staplesempty "true"
emailAlerts.alertflag1.stapleslow "true"
emailAlerts.alertflag1.staplesmissing "true"
emailAlerts.alertflag1.tonerlow "true"
emailAlerts.alertflag1.tonermissing "true"
emailAlerts.alertflag1.transferbeltlifewarning "true"
emailAlerts.alertflag1.transferbeltmissing "true"
emailAlerts.alertflag1.unsupportedcartridge "true"
emailAlerts.alertflag1.wastetonermissing "true"
emailAlerts.alertflag1.wastetonernearlyfull "true"
emailAlerts.alertflag2.2xxpaperjam "true"
emailAlerts.alertflag2.calibrationerror "true"
emailAlerts.alertflag2.changecartridge "true"
emailAlerts.alertflag2.changemedia "true"
emailAlerts.alertflag2.defectivecartridge "true"
emailAlerts.alertflag2.fuserlifewarning "true"
emailAlerts.alertflag2.fusermissing "true"
emailAlerts.alertflag2.insertpcunit "true"
emailAlerts.alertflag2.invalidcartridge "true"
emailAlerts.alertflag2.loadmanualrequests "true"
emailAlerts.alertflag2.loadmedia "true"
emailAlerts.alertflag2.loadstaples "true"
emailAlerts.alertflag2.ocrlifewarning "true"
emailAlerts.alertflag2.ocrmissing "true"
emailAlerts.alertflag2.outputbinfull "true"
emailAlerts.alertflag2.pcunitabnormal "true"
emailAlerts.alertflag2.pcunitlifewarning "true"
emailAlerts.alertflag2.pcunitmissing "true"
emailAlerts.alertflag2.photodevabnormal "true"
emailAlerts.alertflag2.photodevlifewarning "true"
emailAlerts.alertflag2.photodevmissing "true"
emailAlerts.alertflag2.punchboxfull "true"
emailAlerts.alertflag2.punchboxmissing "true"
emailAlerts.alertflag2.replacefuser "true"
emailAlerts.alertflag2.replaceocr "true"
emailAlerts.alertflag2.replacepcunit "true"
emailAlerts.alertflag2.replacephotodev "true"
emailAlerts.alertflag2.replacetoner "true"
emailAlerts.alertflag2.replacetransferbelt "true"
emailAlerts.alertflag2.replacewastetoner "true"
emailAlerts.alertflag2.scannerjam "true"
emailAlerts.alertflag2.scheduledmaintenance "true"
emailAlerts.alertflag2.staplejam "true"
emailAlerts.alertflag2.staplesempty "true"
emailAlerts.alertflag2.stapleslow "true"
emailAlerts.alertflag2.staplesmissing "true"
emailAlerts.alertflag2.tonerlow "true"
emailAlerts.alertflag2.tonermissing "true"
emailAlerts.alertflag2.transferbeltlifewarning "true"
emailAlerts.alertflag2.transferbeltmissing "true"
emailAlerts.alertflag2.unsupportedcartridge "true"
emailAlerts.alertflag2.wastetonermissing "true"
emailAlerts.alertflag2.wastetonernearlyfull "true"
emailAlerts.list1 ""
emailAlerts.list2 ""
ENABLE_SSL2_WEAKCIPHERS FALSE
ENV_CHGPromptSource "0"
envelope.texture "1"
envelope.weight "1"
finisher.punch "0"
finisher.staple "0"
finisher.usbDirectLateBind.punch "0"
finisher.usbDirectLateBind.staple "0"
fontNumber "0"
fontSize "1200"
GENJOBTIMEOUT 90
glossyPaper.loading "0"
glossyPaper.texture "1"
glossyPaper.weight "1"
heavycardPaper.loading "0"
heavycottonPaper.loading "0"
heavyglossyPaper.loading "0"
heavyglossyPaper.texture "1"
heavypaper.paperloading "0"
heavypaper.papertexture "1"
holePunchMode "1"
HTTPLABEL 0 "Utilities and Drivers"
HTTPLABEL 1 "Lexmark Home Page"
HTTPLABEL 2 "Technical Support"
HTTPLABEL 3 "Order Supplies"
HTTPLABEL 4 "Registration"
HTTPLABEL 5 "Firmware Updates"
HTTPLINK 0 "http://www.lexmark.com/MD/?func=drivers&lang=0&prtr=B138045&src=3&creg=7fff&ctry=00000409"
HTTPLINK 1 "http://www.lexmark.com/MD/?func=homepage&lang=0&prtr=B138045&src=3&creg=7fff&ctry=00000409"
HTTPLINK 2 "http://www.lexmark.com/MD/?func=support&lang=0&prtr=B138045&src=3&creg=7fff&ctry=00000409"
HTTPLINK 3 "http://www.lexmark.com/MD/?func=supplies&lang=0&prtr=B138045&src=3&creg=7fff&ctry=00000409"
HTTPLINK 4 "http://www.lexmark.com/MD/?func=newreg&lang=0&prtr=B138045&src=3&creg=7fff&ctry=00000409"
HTTPLINK 5 "http://www.lexmark.com/MD/?func=firmware&lang=0&prtr=B138045&src=3&creg=7fff&ctry=00000409"
HTTPSENABLE TRUE
HTTPSETTING 0 5
HTTPSETTING 1 5
HTTPSETTING 2 5
HTTPSETTING 3 5
HTTPSETTING 4 5
HTTPSETTING 5 5
HTTPSSECSELDEVCERT "default"
imagequick.BGImages "227"
imagequick.DirectImageAutoFit "1"
imagequick.DirectImageInvert "0"
imagequick.DirectImageOrientation "0"
imagequick.DirectImageScaling "6"
imagequick.FontName "36"
imagequick.FontSize "12"
imagequick.Margin "19"
imagequick.Orientation "0"
imagequick.Scale "100"
INTBANNERPAGE FALSE
INTOPTRAFORMSMODE FALSE
INTOPTRAFORMSPOSTSTR ""
INTOPTRAFORMSSTR "\1B%-12345X@PJL ENTER LANGUAGE=POSTSCRIPT\0A\01M%PS\0A(LexForm)run Bs\0A"
IPBOOTPENABLE FALSE
IPDEFTTL 254
IPFTPENABLE TRUE
IPHTTPCONF TRUE
IPHTTPENABLE TRUE
IPMTU 1500
IPRARPENABLE FALSE
IPRESTRICT 0 ""
IPRESTRICT 1 ""
IPRESTRICT 10 ""
IPRESTRICT 11 ""
IPRESTRICT 12 ""
IPRESTRICT 13 ""
IPRESTRICT 14 ""
IPRESTRICT 15 ""
IPRESTRICT 16 ""
IPRESTRICT 17 ""
IPRESTRICT 18 ""
IPRESTRICT 19 ""
IPRESTRICT 2 ""
IPRESTRICT 20 ""
IPRESTRICT 21 ""
IPRESTRICT 22 ""
IPRESTRICT 23 ""
IPRESTRICT 24 ""
IPRESTRICT 25 ""
IPRESTRICT 26 ""
IPRESTRICT 27 ""
IPRESTRICT 28 ""
IPRESTRICT 29 ""
IPRESTRICT 3 ""
IPRESTRICT 30 ""
IPRESTRICT 31 ""
IPRESTRICT 32 ""
IPRESTRICT 33 ""
IPRESTRICT 34 ""
IPRESTRICT 35 ""
IPRESTRICT 36 ""
IPRESTRICT 37 ""
IPRESTRICT 38 ""
IPRESTRICT 39 ""
IPRESTRICT 4 ""
IPRESTRICT 40 ""
IPRESTRICT 41 ""
IPRESTRICT 42 ""
IPRESTRICT 43 ""
IPRESTRICT 44 ""
IPRESTRICT 45 ""
IPRESTRICT 46 ""
IPRESTRICT 47 ""
IPRESTRICT 48 ""
IPRESTRICT 49 ""
IPRESTRICT 5 ""
IPRESTRICT 6 ""
IPRESTRICT 7 ""
IPRESTRICT 8 ""
IPRESTRICT 9 ""
jaEmailAddress ""
jaEnabled "0"
jaFreqAction "0"
jaFrequency "1"
jaLogPrefix ""
jaMediaFullAction "0"
jaNearFullAction "0"
jaNearFullLvl "5"
jaNearFullLvlUserFlash "5"
jaPostURL ""
jobParkTimeout "30"
jobTimeout "0"
labels.loading "0"
labels.texture "1"
labels.weight "1"
language "0"
les.applications.enable "1"
les.restoreFactoryDefaults "false"
letterheadPaper.loading "0"
letterheadPaper.texture "1"
letterheadPaper.weight "1"
lightpaper.paperloading "0"
lightpaper.texture "1"
linedetail "0"
LPDAUTOCR FALSE
LPDBANNPAGE FALSE
LPDRAW FALSE
LPDTIMEOUT 90
LPDTRAILPAGE FALSE
manualEnvelope.paperSize "130"
manualEnvelope.paperType "8"
manualFeedTimeout "60"
manualPaper.paperSize "1"
manualPaper.paperType "0"
MDNSENABLE TRUE
menuDisable "0"
mfp.Certmon.enabled "false"
mfp.Certmon.immediateFetch "false"
mfp.Certmon.logDebug "false"
mfp.Certmon.repeatInterval "2"
mfp.Certmon.scheduledTime "0"
mfp.copy.allowSaveAsShortcut "false"
mfp.copy.autoCenter "false"
mfp.copy.autoSizeMatch "false"
mfp.copy.backgroundRemoval "0"
mfp.copy.bottomLeftBatesNumNumber "1"
mfp.copy.bottomLeftBatesNumTxt ""
mfp.copy.bottomLeftCustomTxt ""
mfp.copy.bottomLeftHdrFtrPrintOn "0"
mfp.copy.bottomLeftHeaderFooter "4"
mfp.copy.bottomLeftInitialPageNumber "1"
mfp.copy.bottomMiddleBatesNumNumber "1"
mfp.copy.bottomMiddleBatesNumTxt ""
mfp.copy.bottomMiddleCustomTxt ""
mfp.copy.bottomMiddleHdrFtrPrintOn "0"
mfp.copy.bottomMiddleHeaderFooter "4"
mfp.copy.bottomMiddleInitialPageNumber "1"
mfp.copy.bottomRightBatesNumNumber "1"
mfp.copy.bottomRightBatesNumTxt ""
mfp.copy.bottomRightCustomTxt ""
mfp.copy.bottomRightHdrFtrPrintOn "0"
mfp.copy.bottomRightHeaderFooter "4"
mfp.copy.bottomRightInitialPageNumber "1"
mfp.copy.collate "1"
mfp.copy.colorBalance.blue "0"
mfp.copy.colorBalance.green "0"
mfp.copy.colorBalance.red "0"
mfp.copy.colorDropout "0"
mfp.copy.colorTemperature "0"
mfp.copy.contentType "1"
mfp.copy.contrast "-1"
mfp.copy.createBooklet "2"
mfp.copy.customJob "false"
mfp.copy.customMessageOverlay ""
mfp.copy.darkness "5"
mfp.copy.documentSource "0"
mfp.copy.duplex "0"
mfp.copy.edgeToEdge "true"
mfp.copy.enableEdgeToEdge "false"
mfp.copy.holePunch "0"
mfp.copy.leftFooterJustify "0"
mfp.copy.leftHeaderJustify "0"
mfp.copy.memoryReserve "26214400"
mfp.copy.messageOverlay "0"
mfp.copy.middleFooterJustify "2"
mfp.copy.middleHeaderJustify "2"
mfp.copy.mirrorImage "false"
mfp.copy.negativeImage "false"
mfp.copy.numberOfCopies "1"
mfp.copy.nUp "0"
mfp.copy.nUpBorder "false"
mfp.copy.orientation "0"
mfp.copy.originalDuplex "0"
mfp.copy.originalSize "0"
mfp.copy.outputBin "1"
mfp.copy.overlayAvailable "true"
mfp.copy.paperSource "2"
mfp.copy.printDuplex "0"
mfp.copy.priorityCopies "false"
mfp.copy.rightFooterJustify "1"
mfp.copy.rightHeaderJustify "1"
mfp.copy.scanBookStartSide "0"
mfp.copy.scanQuality "0"
mfp.copy.separatorSheets "0"
mfp.copy.separatorSource "2"
mfp.copy.shadowDetail "0"
mfp.copy.sharpness "3"
mfp.copy.tiledOverlay "false"
mfp.copy.topLeftBatesNumNumber "1"
mfp.copy.topLeftBatesNumTxt ""
mfp.copy.topLeftCustomTxt ""
mfp.copy.topLeftHdrFtrPrintOn "0"
mfp.copy.topLeftHeaderFooter "4"
mfp.copy.topLeftInitialPageNumber "1"
mfp.copy.topMiddleBatesNumNumber "1"
mfp.copy.topMiddleBatesNumTxt ""
mfp.copy.topMiddleCustomTxt ""
mfp.copy.topMiddleHdrFtrPrintOn "0"
mfp.copy.topMiddleHeaderFooter "4"
mfp.copy.topMiddleInitialPageNumber "1"
mfp.copy.topRightBatesNumNumber "1"
mfp.copy.topRightBatesNumTxt ""
mfp.copy.topRightCustomTxt ""
mfp.copy.topRightHdrFtrPrintOn "0"
mfp.copy.topRightHeaderFooter "4"
mfp.copy.topRightInitialPageNumber "1"
mfp.copy.transparencySeparators "true"
mfp.copy.verify "false"
mfp.email.allowSaveAsShortcut "false"
mfp.email.attachmentType "0"
mfp.email.autoComplete ""
mfp.email.bitDepth "8"
mfp.email.colorBalance.blue "0"
mfp.email.colorBalance.green "0"
mfp.email.colorBalance.red "0"
mfp.email.colorTemperature "0"
mfp.email.customJob "false"
mfp.email.enableCcBcc "true"
mfp.email.limitDestinations ""
mfp.email.logOutputBin "1"
mfp.email.message ""
mfp.email.scanPreview "false"
mfp.email.secondarySMTPPort "25"
mfp.email.secondarySMTPServer ""
mfp.email.smtp.authenticationRequired "0"
mfp.email.smtp.credentialsPrompts "0"
mfp.email.smtp.kerberos5Realm ""
mfp.email.smtp.ntlmDomain ""
mfp.email.smtp.protocolSecurity "0"
mfp.email.smtp.username ""
mfp.email.smtpTimeout "30"
mfp.email.useActiveDirDeviceCred "false"
mfp.email.useSystemCredentials "0"
mfp.email.validateCA "true"
mfp.email.webLinkFileName "image"
mfp.email.webLinkLogin ""
mfp.email.webLinkPath "/"
mfp.email.webLinkServer ""
mfp.email.webLinkURL ""
mfp.fax.allowCancel "0"
mfp.fax.autoPrintT30Logs "false"
mfp.fax.callerId.pattern "1"
mfp.fax.customJob "false"
mfp.fax.debugMask "1431655765"
mfp.fax.detectEOLS "3"
mfp.fax.digitsToMask "0"
mfp.fax.enableCallerId "true"
mfp.fax.enableExtensionInUseSupport "true"
mfp.fax.enableJBIG "true"
mfp.fax.enableLineConnectedDetection "true"
mfp.fax.enableLineInWrongJackDetection "true"
mfp.fax.enableManualFax "false"
mfp.fax.faxdataStorageLocation "0"
mfp.fax.forwarding.destination "0"
mfp.fax.forwarding.ldss.fileFormat "2"
mfp.fax.forwarding.ldss.script ""
mfp.fax.forwarding.ldss.server ""
mfp.fax.forwarding.useSubaddress "true"
mfp.fax.h323Settings.disableGatekeeperDiscovery "true"
mfp.fax.h323Settings.disableH245Tunneling "false"
mfp.fax.h323Settings.disableIncomingCalls "false"
mfp.fax.h323Settings.enableFastStart "false"
mfp.fax.h323Settings.gatekeeper ""
mfp.fax.h323Settings.gateway ""
mfp.fax.h323Settings.h323DialOutDigit "-1"
mfp.fax.h323Settings.user ""
mfp.fax.logs.autoPrintLogs "true"
mfp.fax.logs.enableReceiveLog "false"
mfp.fax.logs.enableSendLog "false"
mfp.fax.logs.logOutputBin "1"
mfp.fax.logs.paperSource "2"
mfp.fax.logs.receiveErrorLog "2"
mfp.fax.logs.sendLogDisplays "1"
mfp.fax.logs.transmissionLog "2"
mfp.fax.lowPowerSupport "2"
mfp.fax.memoryUse "2"
mfp.fax.mode "0"
mfp.fax.numberMasking "0"
mfp.fax.old.countryCode "89"
mfp.fax.orientation "0"
mfp.fax.pulseDialType "0"
mfp.fax.receive.allowV17 "true"
mfp.fax.receive.allowV27 "true"
mfp.fax.receive.allowV29 "true"
mfp.fax.receive.allowV34 "true"
mfp.fax.receive.answerOn "0"
mfp.fax.receive.autoReduction "true"
mfp.fax.receive.blockedNumbers ""
mfp.fax.receive.enableAutoAnswer "true"
mfp.fax.receive.enableColorFax "false"
mfp.fax.receive.enableDoubleRing "true"
mfp.fax.receive.enableFaxReceive "false"
mfp.fax.receive.enablefooter "false"
mfp.fax.receive.enableInFaxServerMode "false"
mfp.fax.receive.enableSingleRing "true"
mfp.fax.receive.enableTripleRing "true"
mfp.fax.receive.footerTime "1"
mfp.fax.receive.forwarding.shortcut ""
mfp.fax.receive.holePunch "0"
mfp.fax.receive.junkfax.blockNoId "false"
mfp.fax.receive.mailboxMode "0"
mfp.fax.receive.manualAnswerCode "*9*"
mfp.fax.receive.maxspeed "0"
mfp.fax.receive.mode "0"
mfp.fax.receive.OutputBin "1"
mfp.fax.receive.paperSource "0"
mfp.fax.receive.printDuplex "false"
mfp.fax.receive.ringsToAnswer "3"
mfp.fax.receive.separatorSheets "0"
mfp.fax.receive.separatorSource "2"
mfp.fax.ringerVolume "0"
mfp.fax.send.allowSave "true"
mfp.fax.send.allowV17 "true"
mfp.fax.send.allowV27 "true"
mfp.fax.send.allowV29 "true"
mfp.fax.send.allowV34 "true"
mfp.fax.send.altFaxFooter ""
mfp.fax.send.autoRedial "5"
mfp.fax.send.backgroundRemoval "0"
mfp.fax.send.behindPABX "false"
mfp.fax.send.Color "0"
mfp.fax.send.colorBalance.blue "0"
mfp.fax.send.colorBalance.green "0"
mfp.fax.send.colorBalance.red "0"
mfp.fax.send.colorDropout "0"
mfp.fax.send.colorDropoutBlueThreshold "128"
mfp.fax.send.colorDropoutGreenThreshold "128"
mfp.fax.send.colorDropoutRedThreshold "128"
mfp.fax.send.colorTemperature "0"
mfp.fax.send.contentType "0"
mfp.fax.send.contrast "-1"
mfp.fax.send.CoverPage "0"
mfp.fax.send.CoverPageFooter ""
mfp.fax.send.CoverPageFooter2 ""
mfp.fax.send.CoverPageFrom ""
mfp.fax.send.CoverPageLogo "/var/faxdata/logo"
mfp.fax.send.CoverPageMessage ""
mfp.fax.send.CoverPageTo ""
mfp.fax.send.darkness "5"
mfp.fax.send.dialingMode "0"
mfp.fax.send.dialingPrefix ""
mfp.fax.send.dialingPrefixRules "=;=;=;=;="
mfp.fax.send.documentSource "0"
mfp.fax.send.edgeToEdge "false"
mfp.fax.send.enableAutoImageConversion "true"
mfp.fax.send.enableDriverFax "true"
mfp.fax.send.enableECM "true"
mfp.fax.send.enableScanFax "true"
mfp.fax.send.includeCoverPage "false"
mfp.fax.send.includeFooter1 "false"
mfp.fax.send.includeFooter2 "false"
mfp.fax.send.includeFromField "false"
mfp.fax.send.includeLogoField "false"
mfp.fax.send.includeMsgField "false"
mfp.fax.send.includeToField "false"
mfp.fax.send.maxspeed "0"
mfp.fax.send.mirrorImage "false"
mfp.fax.send.mixedQuality "75"
mfp.fax.send.negativeImage "false"
mfp.fax.send.originalBinding "2"
mfp.fax.send.originalSize "15"
mfp.fax.send.photoQuality "50"
mfp.fax.send.redialFrequency "3"
mfp.fax.send.resolution "0"
mfp.fax.send.scanDuplex "0"
mfp.fax.send.scanPreview "false"
mfp.fax.send.shadowDetail "0"
mfp.fax.send.sharpness "3"
mfp.fax.send.textQuality "75"
mfp.fax.send.useAltFaxCoverPage "false"
mfp.fax.serialDebugMask "0"
mfp.fax.sipSettings.authID ""
mfp.fax.sipSettings.contact ""
mfp.fax.sipSettings.disableIncomingCalls "false"
mfp.fax.sipSettings.outboundProxy ""
mfp.fax.sipSettings.proxy ""
mfp.fax.sipSettings.realm ""
mfp.fax.sipSettings.registrar ""
mfp.fax.sipSettings.sipDialOutDigit "-1"
mfp.fax.sipSettings.user ""
mfp.fax.speakerMode "0"
mfp.fax.speakerVolume "1"
mfp.fax.stationID "0"
mfp.fax.t38Settings.highSpeedRedundancy "1"
mfp.fax.t38Settings.indicatorRedundancy "3"
mfp.fax.t38Settings.lowSpeedRedundancy "3"
mfp.fax.t38Settings.udptlKeepAliveInterval "0"
mfp.fax.voipSettings.faxTransport "0"
mfp.fax.voipSettings.forceFaxMode "false"
mfp.fax.voipSettings.stunServer ""
mfp.fax.voipSettings.traceLevel "0"
mfp.fax.voipSettings.voipProtocol "1"
mfp.faxServer.fileFormat "2"
mfp.faxServer.message ""
mfp.faxServer.multiPageTiff "true"
mfp.faxServer.originalOrientation "0"
mfp.faxServer.replyAddress ""
mfp.faxServer.subject ""
mfp.faxServer.toFormat ""
mfp.ftp.allowSaveAsShortcut "true"
mfp.ftp.bitDepth "8"
mfp.ftp.colorBalance.blue "0"
mfp.ftp.colorBalance.green "0"
mfp.ftp.colorBalance.red "0"
mfp.ftp.colorDropout "0"
mfp.ftp.colorDropoutBlueThreshold "128"
mfp.ftp.colorDropoutGreenThreshold "128"
mfp.ftp.colorDropoutRedThreshold "128"
mfp.ftp.customJob "false"
mfp.ftp.logOutputBin "1"
mfp.ftp.scanPreview "false"
mfp.ftp.send.originalBinding "2"
mfp.ftp.sharpness "3"
mfp.ftpScan.backgroundRemoval "0"
mfp.ftpScan.color "1"
mfp.ftpScan.colorTemperature "0"
mfp.ftpScan.contentType "1"
mfp.ftpScan.contrast "-1"
mfp.ftpScan.darkness "5"
mfp.ftpScan.documentSource "0"
mfp.ftpScan.edgeToEdge "false"
mfp.ftpScan.fileFormat "2"
mfp.ftpScan.jpegQuality "-1"
mfp.ftpScan.logPaperSource "1"
mfp.ftpScan.mirrorImage "false"
mfp.ftpScan.negativeImage "false"
mfp.ftpScan.originalOrientation "0"
mfp.ftpScan.originalSize "0"
mfp.ftpScan.pdfCompression "1"
mfp.ftpScan.pdfSearchable "0"
mfp.ftpScan.pdfSecure "0"
mfp.ftpScan.pdfVersion "3"
mfp.ftpScan.photojpegQuality "50"
mfp.ftpScan.printScanLogs "0"
mfp.ftpScan.resolution "150"
mfp.ftpScan.scanDuplex "0"
mfp.ftpScan.shadowDetail "0"
mfp.ftpScan.textjpegQuality "75"
mfp.ftpScan.textphotojpegQuality "75"
mfp.ftpScan.tiffCompression "5"
mfp.general.allowBackgroundRemoval "true"
mfp.general.allowCustomJobScans "true"
mfp.general.backgroundImageSource "2"
mfp.general.colorDropoutBlueThreshold "128"
mfp.general.colorDropoutGreenThreshold "128"
mfp.general.colorDropoutRedThreshold "128"
mfp.general.country "89"
mfp.general.customKey1 ".com"
mfp.general.customKey2 ".org"
mfp.general.customText1 ""
mfp.general.customText2 ""
mfp.general.dateFormat "0"
mfp.general.diskEncryption "1"
mfp.general.enableAdfLoadedBeep "true"
mfp.general.enableCompositeUsb "true"
mfp.general.keyboardType "0"
mfp.general.leftSide "1"
mfp.general.mixedSizes "0"
mfp.general.numpadJobAssist "false"
mfp.general.onePageCopy "false"
mfp.general.operationHourDisable "0"
mfp.general.rightSide "5"
mfp.general.screenBrightness "100"
mfp.general.settingsTimeout "30"
mfp.general.showBookmarks "false"
mfp.general.showCartridgeLevel "false"
mfp.general.showCopyJobIcon "true"
mfp.general.showCopyShortcut "false"
mfp.general.showEmailJobIcon "true"
mfp.general.showEmailShortcut "false"
mfp.general.showFaxJobIcon "false"
mfp.general.showFaxShortcut "false"
mfp.general.showFtpJobIcon "false"
mfp.general.showFTPShortcut "false"
mfp.general.showHeldJobsIcon "false"
mfp.general.showJobsByUser "false"
mfp.general.showProfiles "false"
mfp.general.showSearchHeldJobs "false"
mfp.general.showUSBDrive "true"
mfp.general.timeFormat "0"
mfp.general.units "0"
mfp.keyboard.keyRepeatInitialDelay "100"
mfp.keyboard.keyRepeatRate "300"
mfp.ldap.ads.credentials "false"
mfp.ldap.anonymousBind "true"
mfp.ldap.defaultNTDomain ""
mfp.ldap.displayedName "0"
mfp.ldap.faxAttribute "facsimiletelephonenumber"
mfp.ldap.GSSAPI "false"
mfp.ldap.kerberos.username ""
mfp.ldap.mail "mail"
mfp.ldap.maxSearchResults "100"
mfp.ldap.mfpDN ""
mfp.ldap.search.cn "true"
mfp.ldap.search.faxAttribute "false"
mfp.ldap.search.givenName "true"
mfp.ldap.search.mailAttribute "false"
mfp.ldap.search.oc.person "true"
mfp.ldap.search.oc.userDefined1 "false"
mfp.ldap.search.oc.userDefined2 "false"
mfp.ldap.search.oc.userDefined3 "false"
mfp.ldap.search.oc.userDefinedString1 ""
mfp.ldap.search.oc.userDefinedString2 ""
mfp.ldap.search.oc.userDefinedString3 ""
mfp.ldap.search.samaccountname "true"
mfp.ldap.search.sn "true"
mfp.ldap.search.uid "false"
mfp.ldap.search.userDefined1 "false"
mfp.ldap.search.userDefined2 "false"
mfp.ldap.search.userDefined3 "false"
mfp.ldap.search.userDefinedString1 ""
mfp.ldap.search.userDefinedString2 ""
mfp.ldap.search.userDefinedString3 ""
mfp.ldap.searchBase ""
mfp.ldap.searchTimeout "30"
mfp.ldap.serverAddress ""
mfp.ldap.serverPort "389"
mfp.ldap.ssl.cert.friendly.name ""
mfp.ldap.SSL_TLS "0"
mfp.ldap.tls_reqcert "3"
mfp.ldap.use_logged_in_creds "false"
mfp.ldap.userIdAttribute "cn"
mfp.networkScan.backgroundRemoval "0"
mfp.networkScan.baseFileName "image"
mfp.networkScan.color "1"
mfp.networkScan.colorDropout "0"
mfp.networkScan.colorDropoutBlueThreshold "128"
mfp.networkScan.colorDropoutGreenThreshold "128"
mfp.networkScan.colorDropoutRedThreshold "128"
mfp.networkScan.contentType "1"
mfp.networkScan.contrast "-1"
mfp.networkScan.darkness "5"
mfp.networkScan.documentSource "1"
mfp.networkScan.edgeToEdge "true"
mfp.networkScan.emailFileName "scan"
mfp.networkScan.emailSizeErrorMsg ""
mfp.networkScan.enableFTP "true"
mfp.networkScan.fileFormat "2"
mfp.networkScan.jpegQuality "-1"
mfp.networkScan.logPaperSource "2"
mfp.networkScan.maxEmailSize "0"
mfp.networkScan.mirrorImage "false"
mfp.networkScan.multiPageTiff "true"
mfp.networkScan.negativeImage "false"
mfp.networkScan.originalBinding "2"
mfp.networkScan.originalOrientation "0"
mfp.networkScan.originalSize "0"
mfp.networkScan.pdfCompression "1"
mfp.networkScan.pdfSearchable "0"
mfp.networkScan.pdfSecure "0"
mfp.networkScan.pdfVersion "3"
mfp.networkScan.photojpegQuality "50"
mfp.networkScan.printErrorLogs "true"
mfp.networkScan.printFTPConfirmationPage "true"
mfp.networkScan.printScanLogs "2"
mfp.networkScan.resolution "300"
mfp.networkScan.scanDuplex "0"
mfp.networkScan.scanPCPortRange "9751:12000"
mfp.networkScan.scanQuality "0"
mfp.networkScan.sendMeCopy "0"
mfp.networkScan.shadowDetail "0"
mfp.networkScan.sharpness "3"
mfp.networkScan.textjpegQuality "75"
mfp.networkScan.textphotojpegQuality "75"
mfp.networkScan.tiffCompression "5"
mfp.ocr.autoContrastEnhance "0"
mfp.ocr.autoRotate "0"
mfp.ocr.despeckle "0"
mfp.ocr.inverseDetection "0"
mfp.ocr.languageDanish "0"
mfp.ocr.languageDutch "0"
mfp.ocr.languageEnglish "1"
mfp.ocr.languageFinnish "0"
mfp.ocr.languageFrench "0"
mfp.ocr.languageGerman "0"
mfp.ocr.languageHungarian "0"
mfp.ocr.languageItalian "0"
mfp.ocr.languageNorwegian "0"
mfp.ocr.languagePolish "0"
mfp.ocr.languagePortuguese "0"
mfp.ocr.languageSpanish "0"
mfp.ocr.languageSwedish "0"
mfp.scan.customSize.concatenation1 "false"
mfp.scan.customSize.concatenation2 "false"
mfp.scan.customSize.concatenation3 "false"
mfp.scan.customSize.concatenation4 "false"
mfp.scan.customSize.concatenation5 "false"
mfp.scan.customSize.concatenation6 "false"
mfp.scan.customSize.height1 "302400"
mfp.scan.customSize.height2 "302400"
mfp.scan.customSize.height3 "302400"
mfp.scan.customSize.height4 "302400"
mfp.scan.customSize.height5 "302400"
mfp.scan.customSize.height6 "302400"
mfp.scan.customSize.mediaType1 "0"
mfp.scan.customSize.mediaType2 "0"
mfp.scan.customSize.mediaType3 "0"
mfp.scan.customSize.mediaType4 "0"
mfp.scan.customSize.mediaType5 "0"
mfp.scan.customSize.mediaType6 "0"
mfp.scan.customSize.name1 ""
mfp.scan.customSize.name2 ""
mfp.scan.customSize.name3 ""
mfp.scan.customSize.name4 ""
mfp.scan.customSize.name5 ""
mfp.scan.customSize.name6 ""
mfp.scan.customSize.orientation1 "0"
mfp.scan.customSize.orientation2 "0"
mfp.scan.customSize.orientation3 "0"
mfp.scan.customSize.orientation4 "0"
mfp.scan.customSize.orientation5 "0"
mfp.scan.customSize.orientation6 "0"
mfp.scan.customSize.width1 "183600"
mfp.scan.customSize.width2 "183600"
mfp.scan.customSize.width3 "183600"
mfp.scan.customSize.width4 "183600"
mfp.scan.customSize.width5 "183600"
mfp.scan.customSize.width6 "183600"
mfp.scan.scanPreview "false"
mfp.scan2usb.colorDropout "0"
mfp.scan2usb.colorDropoutBlueThreshold "128"
mfp.scan2usb.colorDropoutGreenThreshold "128"
mfp.scan2usb.colorDropoutRedThreshold "128"
mfp.scanner.edgeErase.adf "3"
mfp.scanner.edgeErase.flatbed "3"
mfp.scanner.jamAlert "0"
mfp.scanner.jamRecovery "0"
mfp.scanner.scannerDisabled "0"
mfp.scanner.scansource "2"
mfp.scanToDoc.backgroundRemoval "0"
mfp.scanToDoc.bitDepth "8"
mfp.scanToDoc.color "0"
mfp.scanToDoc.colorBalance.blue "0"
mfp.scanToDoc.colorBalance.green "0"
mfp.scanToDoc.colorBalance.red "0"
mfp.scanToDoc.colorDropout "0"
mfp.scanToDoc.colorDropoutBlueThreshold "128"
mfp.scanToDoc.colorDropoutGreenThreshold "128"
mfp.scanToDoc.colorDropoutRedThreshold "128"
mfp.scanToDoc.colorTemperature "0"
mfp.scanToDoc.contentType "1"
mfp.scanToDoc.contrast "-1"
mfp.scanToDoc.customJob "false"
mfp.scanToDoc.darkness "5"
mfp.scanToDoc.documentSource "0"
mfp.scanToDoc.edgeToEdge "false"
mfp.scanToDoc.fileFormat "2"
mfp.scanToDoc.jpegQuality "-1"
mfp.scanToDoc.mirrorImage "false"
mfp.scanToDoc.multiPageTiff "true"
mfp.scanToDoc.negativeImage "false"
mfp.scanToDoc.originalBinding "2"
mfp.scanToDoc.originalOrientation "0"
mfp.scanToDoc.originalSize "0"
mfp.scanToDoc.pdfSearchable "0"
mfp.scanToDoc.pdfSecure "0"
mfp.scanToDoc.pdfVersion "3"
mfp.scanToDoc.photojpegQuality "50"
mfp.scanToDoc.resolution "150"
mfp.scanToDoc.scanDuplex "0"
mfp.scanToDoc.scanPreview "false"
mfp.scanToDoc.scanQuality "0"
mfp.scanToDoc.shadowDetail "0"
mfp.scantodoc.sharpness "3"
mfp.scanToDoc.textjpegQuality "75"
mfp.scanToDoc.textphotojpegQuality "75"
mfp.scanToUsbDrive.backgroundRemoval "0"
mfp.scanToUsbDrive.bitDepth "8"
mfp.scanToUsbDrive.color "1"
mfp.scanToUsbDrive.colorBalance.blue "0"
mfp.scanToUsbDrive.colorBalance.green "0"
mfp.scanToUsbDrive.colorBalance.red "0"
mfp.scanToUsbDrive.colorTemperature "0"
mfp.scanToUsbDrive.contentType "1"
mfp.scanToUsbDrive.contrast "-1"
mfp.scanToUsbDrive.customJob "false"
mfp.scanToUsbDrive.darkness "5"
mfp.scanToUsbDrive.documentSource "0"
mfp.scanToUsbDrive.edgeToEdge "false"
mfp.scanToUsbDrive.fileFormat "2"
mfp.scanToUsbDrive.fileName "Scanned-image"
mfp.scanToUsbDrive.jpegQuality "-1"
mfp.scanToUsbDrive.mirrorImage "false"
mfp.scanToUsbDrive.negativeImage "false"
mfp.scanToUsbDrive.originalOrientation "0"
mfp.scanToUsbDrive.originalSize "0"
mfp.scanToUsbDrive.pdfCompression "1"
mfp.scanToUsbDrive.pdfSearchable "0"
mfp.scanToUsbDrive.pdfSecure "0"
mfp.scanToUsbDrive.photojpegQuality "50"
mfp.scanToUsbDrive.resolution "150"
mfp.scanToUsbDrive.scanDuplex "0"
mfp.scanToUsbDrive.scanPreview "false"
mfp.scanToUsbDrive.scanQuality "0"
mfp.scanToUsbDrive.shadowDetail "0"
mfp.scanToUsbDrive.sharpness "3"
mfp.scanToUsbDrive.textjpegQuality "75"
mfp.scanToUsbDrive.textphotojpegQuality "75"
mfp.scanToUsbDrive.tiffCompression "5"
mfp.security.formsAccess "0"
mfp.security.usbPortLock "0"
mfp.security.usbPortSchedule "false"
mfp.securityAudit.adminEmailAddress ""
mfp.securityAudit.digitallySignExports "0"
mfp.securityAudit.emailAlertCleared "0"
mfp.securityAudit.emailAlertExport "0"
mfp.securityAudit.emailAlertSettingChange "0"
mfp.securityAudit.emailAlertWrap "0"
mfp.securityAudit.emailAlertXFull "0"
mfp.securityAudit.emailAlertXFullX "90"
mfp.securityAudit.exportLineEnding "0"
mfp.securityAudit.logAtSeverityLevel "4"
mfp.securityAudit.logFullBehavior "0"
mfp.securityAudit.loggingOnOff "0"
mfp.securityAudit.remoteSyslogBelowSeverityLevel "0"
mfp.securityAudit.remoteSyslogFacility "4"
mfp.securityAudit.remoteSyslogMethod "0"
mfp.securityAudit.remoteSyslogOnOff "0"
mfp.securityAudit.remoteSyslogServerAddress ""
mfp.securityAudit.remoteSyslogServerPort "514"
mfp.shadowSettings.print.manualEnvelopeRenumber "200"
mfp.shadowSettings.print.manualPaperRenumber "200"
mfp.shadowSettings.print.mpfeederRenumber "200"
mfp.shadowSettings.print.tray1Renumber "200"
mfp.shadowSettings.print.tray2Renumber "200"
mfp.shadowSettings.printer.powerSaver "30"
mfp.shadowSettings.printer.standbyMode "15"
mfp.ui.copy.actionButtonText ""
mfp.ui.email.actionButtonText ""
mfp.ui.endSessionPolicy "1"
mfp.ui.fax.actionButtonText ""
mfp.ui.ftp.actionButtonText ""
mfp.ui.home.accentTab "true"
mfp.ui.home.chineseTab "true"
mfp.ui.home.koreanTab "true"
mfp.ui.home.russoPolishTab "true"
mfp.ui.home.showNetworkInfo "true"
mfp.ui.home.switchLanguage "false"
mfp.ui.scantodoc.actionButtonText ""
mfp.ui.showBookmarks "true"
mfp.ui.usb.actionButtonText ""
MICRJob "0"
MPFeedRenumber "0"
MPTray.paperSize "231"
MPTray.paperType "0"
multiPage "0"
multiPageOrder "0"
multiPageOrientation "99"
NTPAUTHENABLE FALSE
NTPBROADCAST FALSE
NTPCOUNTRYCODE 2
NTPDSTMODE 0
NTPDSTNOW 0
NTPTIMESOURCE 2
nvA4Fuser "0"
nvA5Loading "0"
nvAccessibilityTimeoutExtension "0"
nvAlwaysDisplayErrorScreens "1"
nvEcoMode "0"
nvEnableCopyDeskew "2"
nvEnableDocumentDeskew "2"
nvEnableEmailDeskew "2"
nvEnableFaxDeskew "2"
nvEnableFTPDeskew "2"
nvEnableHaptics "1"
nvEnableUIIfWakeDueToPort "0"
nvEnableUSBDeskew "2"
nvFontDensity "3"
nvFuserSpeed "0"
nvHibernateTimeout "7"
nvHibernateTimeoutOverride "0"
nvJamAssist "1"
nvLedOutputLighting "2"
nvMIBSupportLevel "48"
nvMIBversion "1.0.0"
nvOemMfgLongName "Lexmark"
nvOemMfgShortName "Lexmark"
nvPagesRemainingDisplay "1"
nvPressAndHoldSleepButton "0"
nvPressSleepButton "1"
nvQuietMode "1"
nvSafeMode "0"
nvServiceErrorRebootCountMax "2"
nvServiceErrorRebootMode "1"
nvServiceErrorRebootWindowMax "720"
nvTonerType "0"
nvVNCAuthenticationType "1"
nvVNCEnabled "0"
nvVNCUseSecurity "0"
offset "0"
offset.mode "2"
offset.support "2"
outputLightingOptBinPowerSav "1"
outputLightingOptBinReady "2"
outputLightingStdBinPowerSav "1"
outputLightingStdBinReady "2"
paperCHGPromptSource "0"
paperSource "2"
pcl.A4Width "198"
pcl.autoCRafterLF "0"
pcl.autoLFafterCR "0"
pcl.linesPerPage "60"
pcl.orientation "0"
pdf.annotations "226"
pdf.autoSourceSearch "1"
pdf.halfTone "227"
pdf.orientation "226"
pdf.scaleToFit "226"
pelBlurring "0"
pixelBoost "0"
plainPaper.texture "1"
plainPaper.weight "1"
PNPSERVER "0.0.0.0"
ports.standard.network.0.interpretAsP_TCPIP "2"
ports.standard.network.0.PSBinaryFiltering "1"
ports.standard.parallel.0.PSBinaryFiltering "2"
ports.standard.usb.0.PSBinaryFiltering "2"
postscript.printErrors "0"
PPENABLED TRUE
PPFTPDEFAULTPORT 21
PPFTPPROXYADDRESS "0.0.0.0"
PPFTPPROXYADDRESS_STR ""
PPHTTPDEFAULTPORT 80
PPHTTPPROXYADDRESS "0.0.0.0"
PPHTTPPROXYADDRESS_STR ""
PPLOCALDOMAIN ""
PPRETRIES 3
PPSECSELDEVCERT "default"
PPTIMEOUT 30
preprintedPaper.loading "0"
preprintedPaper.texture "1"
preprintedPaper.weight "1"
prepunchedPaper.loading "0"
prepunchedPaper.texture "2"
prepunchedPaper.weight "1"
print.blankPages "1"
print.collation "0"
print.darkness "4"
print.duplex "0"
print.duplex.bindingEdge "0"
print.multiPage.border "0"
print.resolution "1"
print.separatorSheets "0"
print.separatorSource "1"
print.usbDirectLateBind.blankPages "1"
print.usbDirectLateBind.collation "1"
print.usbDirectLateBind.duplex "0"
print.usbDirectLateBind.duplex.bindingEdge "0"
print.usbDirectLateBind.multiPage.border "0"
print.usbDirectLateBind.separatorSheets "0"
print.usbDirectLateBind.separatorSource "1"
printerLockoutMaxRetry "0"
printerRFIDAutoretryCnt "0"
printerRFIDBadTagBin "254"
printerRFIDMarkOnError "0"
printerRFIDTagNotify "1"
printPageMode "0"
printRecovery.autoContinue "0"
printRecovery.jamRecovery "2"
printRecovery.pageProtect "0"
printTimeout "90"
PRNDARK "5"
pseudo.fontSource "0"
pseudo.fontSourceXtra "0"
RAW_PRINT_PORT 9100
recycledpaper.paperloading "0"
recycledpaper.papertexture "1"
recycledpaper.paperweight "1"
recycledpaper.type "0"
repeatJobExpire "0"
reserveJobExpire "0"
RESOLVE_WITH_DNS TRUE
rfidlabelsPaper.loading "0"
roughenvelopePaper.loading "0"
roughenvelopePaper.weight "2"
roughPaper.loading "0"
roughPaper.weight "1"
RSL_OPTIONS 0
sleepTimeOutOverrideAlbania "65535"
sleepTimeOutOverrideAlgeria "65535"
sleepTimeOutOverrideArgentina "65535"
sleepTimeOutOverrideAustralia "65535"
sleepTimeOutOverrideAustria "65535"
sleepTimeOutOverrideBangladesh "65535"
sleepTimeOutOverrideBelgium "65535"
sleepTimeOutOverrideBolivia "65535"
sleepTimeOutOverrideBrazil "65535"
sleepTimeOutOverrideBulgaria "65535"
sleepTimeOutOverrideCanada "65535"
sleepTimeOutOverrideChile "65535"
sleepTimeOutOverrideColumbia "65535"
sleepTimeOutOverrideCostaRica "65535"
sleepTimeOutOverrideCroatia "65535"
sleepTimeOutOverrideCyprus "65535"
sleepTimeOutOverrideCzechRepublic "65535"
sleepTimeOutOverrideDenmark "65535"
sleepTimeOutOverrideDominicanRepublic "65535"
sleepTimeOutOverrideEcuador "65535"
sleepTimeOutOverrideEgypt "65535"
sleepTimeOutOverrideElSalvador "65535"
sleepTimeOutOverrideEstonia "65535"
sleepTimeOutOverrideFinland "65535"
sleepTimeOutOverrideFrance "65535"
sleepTimeOutOverrideGermany "65535"
sleepTimeOutOverrideGreece "65535"
sleepTimeOutOverrideGuam "65535"
sleepTimeOutOverrideGuatemala "65535"
sleepTimeOutOverrideHonduras "65535"
sleepTimeOutOverrideHongKong "65535"
sleepTimeOutOverrideHungary "65535"
sleepTimeOutOverrideIceland "65535"
sleepTimeOutOverrideIndia "65535"
sleepTimeOutOverrideIndonesia "65535"
sleepTimeOutOverrideIreland "65535"
sleepTimeOutOverrideIsrael "65535"
sleepTimeOutOverrideItaly "65535"
sleepTimeOutOverrideJapan "65535"
sleepTimeOutOverrideKorea "65535"
sleepTimeOutOverrideKuwait "65535"
sleepTimeOutOverrideLatvia "65535"
sleepTimeOutOverrideLeichtenstein "65535"
sleepTimeOutOverrideLithuania "65535"
sleepTimeOutOverrideLuxembourg "65535"
sleepTimeOutOverrideMacedonia "65535"
sleepTimeOutOverrideMalaysia "65535"
sleepTimeOutOverrideMalta "65535"
sleepTimeOutOverrideMexico "65535"
sleepTimeOutOverrideMontenegro "65535"
sleepTimeOutOverrideMorocco "65535"
sleepTimeOutOverrideNetherlandsHolland "65535"
sleepTimeOutOverrideNewZealand "65535"
sleepTimeOutOverrideNicaragua "65535"
sleepTimeOutOverrideNigeria "65535"
sleepTimeOutOverrideNorway "65535"
sleepTimeOutOverridePanama "65535"
sleepTimeOutOverrideParaguay "65535"
sleepTimeOutOverridePeru "65535"
sleepTimeOutOverridePhilippines "65535"
sleepTimeOutOverridePoland "65535"
sleepTimeOutOverridePortugal "65535"
sleepTimeOutOverridePRC "65535"
sleepTimeOutOverridePuertoRico "65535"
sleepTimeOutOverrideQatar "65535"
sleepTimeOutOverrideRomania "65535"
sleepTimeOutOverrideRussia "65535"
sleepTimeOutOverrideSaudiArabia "65535"
sleepTimeOutOverrideSenegal "65535"
sleepTimeOutOverrideSerbia "65535"
sleepTimeOutOverrideSingapore "65535"
sleepTimeOutOverrideSlovakia "65535"
sleepTimeOutOverrideSlovania "65535"
sleepTimeOutOverrideSouthAfrica "65535"
sleepTimeOutOverrideSpain "65535"
sleepTimeOutOverrideSriLanka "65535"
sleepTimeOutOverrideSweden "65535"
sleepTimeOutOverrideSwitzerland "65535"
sleepTimeOutOverrideTaiwan "65535"
sleepTimeOutOverrideThailand "65535"
sleepTimeOutOverrideTunisia "65535"
sleepTimeOutOverrideTurkey "65535"
sleepTimeOutOverrideUAE "65535"
sleepTimeOutOverrideUkraine "65535"
sleepTimeOutOverrideUnitedKingdom "65535"
sleepTimeOutOverrideUnitedStates "65535"
sleepTimeOutOverrideUruguay "65535"
sleepTimeOutOverrideVenezuela "65535"
sleepTimeOutOverrideVietnam "65535"
sleepTimeOutOverrideVirginIslands "65535"
SLPBROADCAST TRUE
SNMPCOMMUNITY "public"
SNMPSET FALSE
SNMPV12CENABLED TRUE
SNMPV3ENABLED FALSE
spotColor10C "0"
spotColor10K "0"
spotColor10M "0"
spotColor10Y "0"
spotColor11C "0"
spotColor11K "0"
spotColor11M "0"
spotColor11Y "0"
spotColor12C "0"
spotColor12K "0"
spotColor12M "0"
spotColor12Y "0"
spotColor13C "0"
spotColor13K "0"
spotColor13M "0"
spotColor13Y "0"
spotColor14C "0"
spotColor14K "0"
spotColor14M "0"
spotColor14Y "0"
spotColor15C "0"
spotColor15K "0"
spotColor15M "0"
spotColor15Y "0"
spotColor16C "0"
spotColor16K "0"
spotColor16M "0"
spotColor16Y "0"
spotColor17C "0"
spotColor17K "0"
spotColor17M "0"
spotColor17Y "0"
spotColor18C "0"
spotColor18K "0"
spotColor18M "0"
spotColor18Y "0"
spotColor19C "0"
spotColor19K "0"
spotColor19M "0"
spotColor19Y "0"
spotColor1C "0"
spotColor1K "0"
spotColor1M "0"
spotColor1Y "0"
spotColor20C "0"
spotColor20K "0"
spotColor20M "0"
spotColor20Y "0"
spotColor2C "0"
spotColor2K "0"
spotColor2M "0"
spotColor2Y "0"
spotColor3C "0"
spotColor3K "0"
spotColor3M "0"
spotColor3Y "0"
spotColor4C "0"
spotColor4K "0"
spotColor4M "0"
spotColor4Y "0"
spotColor5C "0"
spotColor5K "0"
spotColor5M "0"
spotColor5Y "0"
spotColor6C "0"
spotColor6K "0"
spotColor6M "0"
spotColor6Y "0"
spotColor7C "0"
spotColor7K "0"
spotColor7M "0"
spotColor7Y "0"
spotColor8C "0"
spotColor8K "0"
spotColor8M "0"
spotColor8Y "0"
spotColor9C "0"
spotColor9K "0"
spotColor9M "0"
spotColor9Y "0"
spotColorName1 ""
spotColorName10 ""
spotColorName11 ""
spotColorName12 ""
spotColorName13 ""
spotColorName14 ""
spotColorName15 ""
spotColorName16 ""
spotColorName17 ""
spotColorName18 ""
spotColorName19 ""
spotColorName2 ""
spotColorName20 ""
spotColorName3 ""
spotColorName4 ""
spotColorName5 ""
spotColorName6 ""
spotColorName7 ""
spotColorName8 ""
spotColorName9 ""
substSize "99"
symbolSet "341"
THNPRTBANDWIDTH 0
THNPRTENABLED TRUE
THNPRTPACKETSIZE 0
THNPRTPORT 4000
timemgr.dst "1"
timemgr.ntpbroadcast "0"
timemgr.timesource "1"
timemgr.timezone "2"
timeout.wait "40"
tonerAlarmSound "0"
TRAFFICSHAPING 0
transparency.texture "1"
transparency.weight "1"
tray1.paperSize "7"
tray1.paperType "0"
tray2.paperSize "1"
tray2.paperType "0"
trayRenumber "0"
type1Fonts "1"
UCF_BUTTON_FEEDBACK "0"
UCF_DEVICE_VOLUME "6"
universalPaper.paperHeight "302400"
universalPaper.paperOrientation "0"
universalPaper.paperWidth "183600"
universalPaper.unitMeasure "0"
usbDirectLateBind.holePunchMode "1"
usbDirectLateBind.offset "0"
usbDirectLateBind.paperSource "1"
verifyJobExpire "0"
veryheavyPaper.loading "0"
vinyllabels.loading "0"
vinyllabels.texture "1"
vinyllabels.weight "1"
WS_PRINT_ENABLED TRUE
WS_SCAN_ENABLED TRUE
